.btn-primary {
  background: $button-primary-color;
  border-radius: 20px;
  padding: 10px 28px;
  text-transform: uppercase;
  color: $font-color;
  font-family: $font-buttons;
  border: $button-primary-color;
  font-size: 14px;
  letter-spacing: 4px;
}
@media (max-width: 640px) {
  .btn-primary {
    width: 100%;
    padding: 17px 5px;
    border-radius: 28px;
  }
}
