h1,
h2,
h3,
h4 {
  font-family: $titles, 'Open-sans';
  color: $font-color;
}
h2 {
  font-size: 105px;
  letter-spacing: -3px;
  color: $font-color;
}
p {
  font-family: $paragraph, 'Open-sans';
  font-size: 19px;
  color: $font-color;
}
